@model WebApplication1.Models.Brans

@{
    ViewBag.Title = "Details";
}

<form class="btn-group">
    <button style="width:217px" id="btn" class="btn btn-secondary" formaction="~/Sehirs/Index">Şehirler</button>
    <button style="width:217px" id="btn" class="btn btn-secondary" formaction="~/Ilces/Index">İlçeler</button>
    <button style="width:217px" id="btn" class="btn btn-secondary" formaction="~/Hastanes/Index">Hastaneler</button>
    <button style="width:217px" id="btn" class="btn btn-secondary" formaction="~/Brans/Index">Branşlar</button>
    <button style="width:217px" id="btn" class="btn btn-secondary" formaction="~/Doktors/Index">Doktorlar</button>
    <button style="width:217px" id="btn" class="btn btn-secondary" formaction="~/Giris/Index">Çıkış</button>
</form>

<br />
<br />

<div>
    <h4>Brans</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BransAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BransAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Güncelle", "Edit",null, new { id = Model.BransID }, new { @id = "detaylink" }) |
    @Html.ActionLink("Geri Dön", "Index",null, new { @id = "detaylink" })
</p>
